@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'dmbold';
    src: url('fonts/DMSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: bold;
 }
 @font-face {
    font-family: 'dmregular';
    src: url('fonts/DMSans-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
 }